<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="script.js"></script>
    <title></title>
</head>
<body ng-app="personal-calendar" ng-controller="CalendarCtrl">
<div ng-if="!userLogged">
    <div>Login:<input type="text" ng-model="loginData.login"></div>
    <div>Haslo:<input type="password" ng-model="loginData.password"></div>
    <div><button ng-click="loginUser()">Zaloguj</button>{{loginError}}</div>
</div>

<div ng-if="userLogged">
    <div>
        <a href="about.html">O mnie</a>
        <button ng-click="logoutUser()">Wyloguj</button>

    </div>

    <div class="calendar-month">Lipiec <img class="summer-icon" src="sun.jpg" alt="Summer"></div>

    <div class="calendar-day" ng-repeat="day in days" ng-class="{weekend: day.weekend}" ng-click="showTasks(day)">
        {{day.dayOfWeek | limitTo: 3}}
        <div class="day-number">{{day.dayOfMonth}}</div>
    </div>
    <div>
        <div class="tasks-list" ng-show="tasksVisible">
            <h2>{{tasksDay}}</h2>
            <form action="">
                Zadanie:<br>
                <input type="text" name="taskname" maxlength="10">
                <button type="button">Add</button>
            </form>

            <ul>
                <li ng-repeat="task in tasks">{{task}}</li>
            </ul>
        </div>
    </div>
    <hr/>
    <div>&copy; Copyright 2015</div>
</div>
</body>
</html>